{% extends 'base.html' %}

{% block title %}Cut It Up{% endblock %}

{% block app_content %}
<div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <h3 class="upload-title">Upload Your Video</h3>
    <div class="upload-container d-flex justify-content-center align-items-center">
        <div class="upload-box d-flex flex-column justify-content-center align-items-center">
            <form id="videoForm" method="POST" enctype="multipart/form-data" action="{{ url_for('upload_video') }}">
                <label for="videoUpload" class="btn btn-light">
                    <i class="fas fa-upload"></i> Choose File
                </label>
                <input type="hidden" id="clipDurationHidden" name="clipDuration">
                <input type="hidden" id="numClipsHidden" name="numClips">
                <input type="file" id="videoUpload" name="video" class="form-control" accept="video/*" onchange="openModal()" style="display: none;">
            </form>
        </div>
    </div>
</div>

<div id="confirmModal" class="modal" style="display: none;">
    <div class="modal-content">
        <h3 class="modal-text">Confirm Your Video</h3>
        <video id="modalVideoPlayer" width="100%" controls style="border-radius: 10px; margin-top: 10px;"></video>
        <div class="d-flex justify-content-between mt-3">
            <div style="width: 48%;">
                <label for="numClips" class="form-label">Number of Clips</label>
                <input type="number" id="numClips" name="numClips" class="form-control form-control-custom" placeholder="Enter number of clips">
            </div>
            <div style="width: 48%;">
                <label for="clipDuration" class="form-label">Required Duration (seconds)</label>
                <input type="number" id="clipDuration" name="clipDuration" class="form-control form-control-custom" placeholder="Enter required duration">
            </div>
        </div>
        <div class="button-group d-flex justify-content-between mt-3">
            <button id="confirmButton" class="btn btn-success" onclick="submitForm()">Confirm</button>
            <button id="cancelButton" class="btn btn-danger" onclick="closeModal()">Cancel</button>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
<style>
    .container-fluid { 
        max-width: 700px;
    }

    .upload-container {
        width: 100%;
        margin: 15px 10px;
        padding: 10px 15px;
        height: 70px;
        background-color: #2f2f2f;
        border-radius: 10px;
    }

    .upload-title {
        font-size: 2rem;
        font-weight: bold;
        color: #ececec;
        margin: 0;
    }

    .upload-box label {  
        cursor: pointer;       
        border-radius: 5px;  
        background-color: #171717;
        color: white;
        margin: 0 0;
        border: hsla(0, 0%, 100%, .1) 1px solid;
    }

    #videoForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #b4b4b4;
    }

    .upload-box label:hover {
        background-color: #b4b4b4;
    }

    .upload-box input[type="file"] {
        display: none;
    }

    #videoPlayer, #modalVideoPlayer {
        border-radius: 8px;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        background: #2f2f2f;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        color: #ececec;
        max-width: 700px;
        width: 90%;
    }

    .model .btn {
        padding: 10px 20px;
        margin: 5px;
    }

    .button-group {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .form-control-custom {
        background-color: #171717;
        color: #ececec;
        border: 1px solid #424242;
        border-radius: 5px;
    }

    .form-control-custom:focus {
        background-color: #292929;
        color: #ececec;
        border: 1px solid #b4b4b4;
    }
</style>
{% endblock %}

{% block scripts %}
<script src="/static/js/main.js?v=1.0.1"></script>
<script>
    function openModal() {
        var file = document.getElementById("videoUpload").files[0];
        var modalVideoPlayer = document.getElementById("modalVideoPlayer");

        if (file) {
            var fileURL = URL.createObjectURL(file);

            modalVideoPlayer.src = fileURL;

            modalVideoPlayer.load();

            document.getElementById("confirmModal").style.display = "flex";
        }
    }

    function closeModal() {
        document.getElementById("confirmModal").style.display = "none";

        document.getElementById("videoUpload").value = "";
    }

    async function submitForm(event) {
        if (event) event.preventDefault();

        const numClips = document.getElementById("numClips").value;
        const clipDuration = document.getElementById("clipDuration").value;
        const videoFile = document.getElementById("videoUpload").files[0];

        const formDataUpload = new FormData();
        formDataUpload.append("video", videoFile);

        try {
            const uploadResponse = await fetch(`/upload_video`, {
                method: "POST",
                body: formDataUpload,
            });

            if (!uploadResponse.ok) {
                throw new Error("Failed to upload video");
            }

            const uploadData = await uploadResponse.json();
            if (!uploadData.success) {
                throw new Error(uploadData.error || "Error during upload");
            }

            const { chat_id, filename } = uploadData;
            
            location.href = `/c/${chat_id}`;

            const processData = {
                chat_id: chat_id,
                filename: filename,
                numClips: numClips,
                clipDuration: clipDuration,
            };

            const processResponse = await fetch('/process_video', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(processData),
            });

        } catch (error) {
            console.error("Error during video handling:", error);
        }
    }
</script>
{% endblock %}
